.pytest_cache
.ruff_cache
.scannerwork
.venv
.vscode
build
docs
extras
src/soldat.egg-info
soldat.egg-info
htmlcov
log
site
src/soldat/**/__pycache__
src/soldat/config/resources/tls/key.pem
tests
.coverage
.editorconfig
.gitignore
.markdownlint.yml
dependency-check-report.html
Dockerfile
Dockerfile.alpine
mkdocs.yml
openapi.json
soldaten-*.xlsx
report.html
sonar-*
